:root{
    --primary-color: #FF6C00;
    --secondary-color: #191C26;
    --text-primary: #303030;
    --text-secondary: #9DA4BD;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: var(--text-primary);
}
h2.section-title.lighten {
    color: #fff;

}
.section-subtitle {
font-size: 18px;
line-height: 1,67;
color: #555;
}
.section-deckription {
font-size: 14px;
line-height: 1,86;
color: #555;
}
.suptitle-primary {
font-weight: 600;
font-size: 11px;
line-height: 1,36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}
.primary-btn {
font-weight: 600;
font-size: 12px;
line-height: 1,33;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #303030;
}
.price-text {
font-size: 18px;
line-height: 1,67;
letter-spacing: 0.02em;
color: #9DA4BD;
}
.header {
    display: flex;
}
/* test form */


/* командний */
.section__title--visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: 1px;
}
.gallery-backgraund {
    max-width: 364px;
    height: 122px;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 245, 246, 1) 40%
    );
    background-image: url('../image/gallery-mobile1x.jpg');
      
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .gallery-backgraund {
            background-image: url('../image/gallery-mobile2x.jpg');
        }
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
        height: 264px;
        background-image: url("../image/gallery-tablet1x.jpg");
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../image/gallery-tablet2x.jpg");
        }
    }
    
    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 430px;
        background-image: url('../image/gallery-desktop1x.jpg');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../image/gallery-desktop2x.jpg');
         }
    }
}
