:root{
    --primary-color: #FF6C00;
    --secondary-color: #191C26;
    --text-primary: #303030;
    --text-secondary: #9DA4BD;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: var(--text-primary);
}
h2.section-title.lighten {
    color: #fff;

}
.section-subtitle {
font-size: 18px;
line-height: 1,67;
color: #555;
}
.section-deckription {
font-size: 14px;
line-height: 1,86;
color: #555;
}
.suptitle-primary {
font-weight: 600;
font-size: 11px;
line-height: 1,36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}
.primary-btn {
font-weight: 600;
font-size: 12px;
line-height: 1,33;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #303030;
}
.price-text {
font-size: 18px;
line-height: 1,67;
letter-spacing: 0.02em;
color: #9DA4BD;
}
.header {
    display: flex;
}
/* test form */


/* командний
.section__title--visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: 1px;
}
.gallery-backgraund {
    max-width: 364px;
    height: 122px;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 245, 246, 1) 40%
    );
    background-image: url('../image/gallery-mobile1x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    @media screen and (min-width: 768px) {
        width: 768px;
        height: 264px;
        background-image: url("../image/gallery-tablet1x.jpg");  
    }
    
    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 430px;
        background-image: url('../image/gallery-desktop1x.jpg');
        
    }

} */

/* test */

.masonry {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: masonry;
}
.masonry__item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    border: 1px solid #191C26;
}   
    
.masonry__item > .masonry__images {
    grid-row: 1 / -1;
    grid-column: 1;
}
.masonry__images {
border: 1px solid #FF6C00;
}

.landscape {
    grid-column-start: span 2;
  }

/* .positioned5 {
    grid-column: box-start / box-end;
    border: 5px solid white;
  } */
    /* @media only screen and (max-width: 480px) {
        column-count: 1;
    }
    @media only screen and (min-width: 481px) and (max-width: 620px) {
        column-count: 2;
    }
    @media only screen and (min-width: 621px) and (max-width: 1023px) {
        column-count: 3;
    }
    @media only screen and (min-width: 1024px) {
        column-count: 4;
    }
    column-gap: 16px;
    margin: 8px 16px; */
    
    /* .item {
        background-color: $grey-middle;
        margin: 8px 0;
        padding: 21px;
        display: inline-block;
    } */


/* слайд */

.wrapper {
    margin-top: 800px;
	height: 350px;
    width: 926px;
	margin-left: auto;
    margin-right: auto;
	position: relative;
	
    border: 1px solid #191C26;
}

/* .slider {
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
} */

.wrapper > input {
	display: none;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}

.slide1 { 
}
.slide2 { 
}
.slide3 { 
}

.wrapper .controls {
	left: 50%;
    bottom: 0;
	transform: translateX(-50%);
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 12px;
	margin: 25px 12px 0 16px;
	position: relative;
    background-color: #9DA4BD;
	width: 13px;
	border-radius: 50%;

}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 12px;
	position: relative;
    background-color: #9DA4BD;
	width: 13px;
	border-radius: 50%;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
	background-image: url(../image/mansonry/home.svg);
    background-size: cover;
    background-color: white;
    border-radius: 4%;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	/* -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s; */
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
	opacity: 1;
	z-index: 1;
	/* -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1); */
	transform: scale(1);
}

.slides__img {
    position: absolute;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
}